name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["main", "master"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: left
        uses: stalomeow/metrics@projects-v2
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.left.svg
          user: amoghmanral
          template: classic
          base: ""
          config_timezone: America/New_York
          repositories_affiliations: owner
          plugin_followup: yes
          plugin_followup_sections: user
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_details: lines, percentage
          plugin_languages_indepth: yes
          plugin_languages_ignored: jupyter notebook
          commits_authoring: amoghmanral
          config_order: followup, languages

      - name: right
        uses: stalomeow/metrics@projects-v2
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.right.svg
          user: amoghmanral
          template: classic
          base: ""
          config_timezone: America/New_York
          debug: yes
          debug_print: yes
          plugin_achievements: yes
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: detailed
          plugin_achievements_limit: 0
          plugin_achievements_ignored: projects
